@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --fcb-blue:#0068ff;
  --fcb-red:#ef1f46;
  --fcb-yellow:#fbc43f;

  --fcb-pacific-cyan: #06aed5ff;
  --fcb-cerulean: #086788ff;
  --fcb-jonquil: #f0c808ff;
  --fcb-papaya-whip: #fff1d0ff;

  --fcb-black: #000000ff;
  --fcb-oxford-blue: #14213dff;
  --fcb-orange-web: #fca311ff;
  --fcb-platinum: #e5e5e5ff;
  --fcb-white: #ffffffff;

  --spacing: 20px;
  --small-spacing: 10px;
  --font-one: "Oswald", sans-serif;
  --font-two: "Mako", sans-serif;
  --font-three: "Quattrocento Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--fcb-blue);
  color: var(--fcb-red);
  font-family: var(--font-three);
  border: 2px solid black;
  transition: 0.3s;
}

body::-webkit-scrollbar {
  width: var(--small-spacing);
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fcb-cerulean);
}

.dark {
  background-color: var(--fcb-oxford-blue);
  color: var(--fcb-platinum);
}

h1,h2,h3,h4{
  font-family: var(--font-one);
}

h1{
  text-transform: uppercase;
  font-size: 4em;
  color: transparent;
  -webkit-text-stroke: 3px var(--fcb-red);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--font-two);
  color: var(--fcb-papaya-whip);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--fcb-jonquil);
}

a.shop{
  width: 150px;
  height: 50px;
  background-color: var(--fcb-jonquil);
  color: var(--fcb-black);
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 10px;
}

/*ASIDE*/

aside {
  width: 100%;
  height: 50px;
  padding: var(--spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid black;
}

/*HEADER*/

header {
  width: 100%;
  height: 100px;
  padding: var(--spacing);
  gap: var(--small-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(blue, pink);
  border-bottom: 2px solid black;
}

.sectionLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--small-spacing);
}

.icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--small-spacing);
}

main{
  width: 100%;
  min-height: 500vh;
}

/*NUEVAS EQUIPACIONES*/

section #nuevasEquipaciones{
  width: 100%;
  min-height: 100vh;
  border-bottom: 2px solid black;
  position: relative;
  overflow: hidden;
}

#nuevasEquipaciones > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  position: absolute;
  bottom: 10%;
  z-index: 1;
}