@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --fcb-blue: #0068ff;
  --fcb-oxford-blue: #14213dff;
  --fcb-red: #ef1f46;
  --fcb-yellow: #fbc43f;

  --fcb-dark-blue: #181733;
  --fcb-pacific-cyan: #06aed5ff;
  --fcb-cerulean: #086788ff;
  --fcb-jonquil: #f0c808ff;
  --fcb-papaya-whip: #fff1d0ff;

  --fcb-black: #000000ff;

  --fcb-orange-web: #fca311ff;
  --fcb-platinum: #e5e5e5ff;
  --fcb-white: #ffffffff;

  --spacing: 20px;
  --small-spacing: 10px;
  --font-one: "Oswald", sans-serif;
  --font-two: "Mako", sans-serif;
  --font-three: "Quattrocento Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--fcb-blue);
  color: var(--fcb-white);
  font-family: var(--font-three);
  border: 2px solid black;
  transition: 0.3s;
}

body::-webkit-scrollbar {
  width: var(--small-spacing);
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fcb-cerulean);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-one);
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5em;
  color: red;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h2 {
  font-size: 3em;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--font-two);
  color: var(--fcb-white);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--fcb-jonquil);
  font-weight: bold;
}

a.shop {
  width: 150px;
  height: 50px;
  background-color: var(--fcb-jonquil);
  color: var(--fcb-black);
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-family: var(--font-three);
  font-size: 1em;
  background-color: var(--fcb-red);
  color: var(--fcb-white);
}

/*ASIDE*/

aside {
  width: 100%;
  height: 50px;
  padding: var(--spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(blue, pink);
  border-bottom: 2px solid black;
}

/*HEADER*/

header {
  width: 100%;
  height: 100px;
  padding: var(--spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fcb-red);
  border-bottom: 2px solid black;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.icons img {
  width: 25px;
  height: auto;
}

.icons img:hover {
  scale: 1.1;
  filter: brightness(0) saturate(100%) invert(86%) sepia(41%) saturate(1753%)
    hue-rotate(354deg) brightness(95%) contrast(98%);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 970px) {
  .sectionLinks {
    display: none;
  }
  .hidden {
    display: inline-block;
  }
}

/*MAIN*/

main {
  width: 100%;
  min-height: 400vh;
}

/*NUEVAS EQUIPACIONES*/

#nuevasEquipaciones {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid black;
}

#nuevasEquipaciones > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  position: absolute;
  bottom: 10%;
  z-index: 1;
}

/*JUGADORES*/

#jugadores {
  min-height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
  border-bottom: 2px solid black;
}

#jugadores ul {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  padding: var(--spacing);
  gap: var(--spacing);
}

#jugadores li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-spacing);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border: 5px groove white;
}

#jugadores p {
  text-align: center;
  letter-spacing: 1.5px;
}

#jugadores a {
  border-top: var(--border-two);
  border-bottom: var(--border-two);
}

#jugadores > ul > li > a > img {
  background-color: var(--fcb-oxford-blue);
  border: 2px solid red;
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: 0.5s;
}

#jugadores:hover ul > li > a > img:not(:hover) {
  filter: saturate(0);
  opacity: 40%;
}

.botonesEquipos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}
