@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --fcb-blue: #0068ff;
  --fcb-oxford-blue: #14213dff;
  --fcb-red: #ef1f46;
  --fcb-cerulean: #086788ff;
  --fcb-jonquil: #f0c808ff;
  --fcb-black: #000000ff;
  --fcb-white: #ffffffff;
  --spacing: 20px;
  --small-spacing: 10px;
  --font-one: "Oswald", sans-serif;
  --font-two: "Mako", sans-serif;
  --font-three: "Quattrocento Sans", sans-serif;
  --border: 2px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fcb-blue);
  color: var(--fcb-white);
  font-family: var(--font-three);
  border: var(--border);
}

body::-webkit-scrollbar {
  width: var(--small-spacing);
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fcb-cerulean);
}

h1,
h2,
h3 {
  font-family: var(--font-one);
  text-align: center;
  text-transform: uppercase;
}

h1 {
  color: var(--fcb-white);
  font-size: 3.5em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--fcb-black);
  animation: lightSpeedInLeft;
  animation-duration: 2s;
}

h2 {
  font-size: 3em;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--font-two);
  color: var(--fcb-white);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--fcb-jonquil);
  font-weight: bold;
  text-decoration: underline;
}

.shop {
  text-transform: uppercase;
  font-size: 2em;
  color: var(--fcb-red);
  font-weight: 900;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.shop:hover {
  font-style: italic;
}

button {
  width: 200px;
  height: 40px;
  color: var(--fcb-white);
  background-color: rgb(167, 81, 172);
  border: 2px solid #551f8b;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1em;
  box-shadow: 0 9px #6123d5;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

button:hover {
  background-color: rgba(168, 81, 172, 0.759);
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

button.active {
  background-color: rgb(55, 71, 151);
}

/*ASIDE*/

aside {
  width: 100%;
  height: 50px;
  padding: var(--spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-bottom: var(--border);
  text-align: center;
}

/*HEADER*/

header {
  width: 100%;
  height: 80px;
  padding: var(--spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fcb-red);
  border-bottom: var(--border);
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.logo img {
  width: 200px;
  height: auto;
}

#iconsLinks img {
  width: 25px;
  height: auto;
}

#iconsLinks img:hover {
  scale: 1.1;
  filter: brightness(0) saturate(100%) invert(86%) sepia(41%) saturate(1753%)
    hue-rotate(354deg) brightness(95%) contrast(98%);
}

.hidden {
  display: none;
}

/*MAIN*/

main {
  width: 100%;
  min-height: 500vh;
}

/*NUEVAS EQUIPACIONES*/

#nuevasEquipaciones {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  border-bottom: var(--border);
}

.video-desktop {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.video-mobile {
  display: none;
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  position: absolute;
  bottom: 10%;
}

/*JUGADORES*/

#jugadores {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  border-bottom: var(--border);
}

#jugadores ul {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  padding: var(--spacing);
  gap: var(--spacing);
}

#jugadores li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-spacing);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border: 2px dashed var(--fcb-white);
}

#jugadores:hover > ul > li:not(:hover) {
  filter: saturate(0);
  opacity: 40%;
}

#jugadores p {
  text-align: center;
  letter-spacing: 1.5px;
}

#jugadores > ul > li > a > img {
  background-color: var(--fcb-oxford-blue);
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#jugadores > ul > li > a > img:hover {
  animation: pulse;
  animation-duration: 2s;
}

.botonesEquipos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

/*MODA*/

#moda {
  width: 100%;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  border-bottom: var(--border);
}

#novedades {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

#novedades li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--small-spacing);
  gap: var(--small-spacing);
  background: linear-gradient(
    106deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(93, 68, 249, 1) 100%
  );
  box-shadow: 5px 10px rgba(28, 11, 78, 0.534);
  border-radius: 5px;
  transition: 0.5s;
}

#novedades li:hover {
  outline: 4px ridge lawngreen;
}

#novedades img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

#productos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 450px;
  padding: var(--spacing);
  gap: var(--spacing);
}

#productos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-spacing);
  background: linear-gradient(313deg, #ffffff 0%, #6284ff 50%, #ff0000 100%);
  border: 6px double var(--fcb-black);
}

#productos a {
  width: auto;
  height: 300px;
}

#productos a:hover {
  outline: thick double var(--fcb-jonquil);
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

#productos img {
  width: auto;
  height: 300px;
  object-fit: cover;
  border: 6px double var(--fcb-black);
}

#productos h3,
#productos p {
  width: 100%;
  height: 75px;
  padding: var(--spacing);
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productos p {
  color: var(--fcb-black);
  font-weight: 500;
}

/*COLABORACIÓN*/

#colaboracion {
  width: 100%;
  min-height: 80vh;
  background-image: url("https://res.cloudinary.com/darvwfw0u/image/upload/v1728487484/karol-banner_v7xbvf.webp");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

#karolGCollection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#karolGCollection a {
  width: auto;
  height: 300px;
}

#karolGCollection a:hover {
  outline: thick double var(--fcb-jonquil);
}

#karolGCollection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*FOOTER*/

footer {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
  background-color: var(--fcb-oxford-blue);
}

.form-information {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: var(--spacing);
  gap: var(--spacing);
  border: 2px solid #f9f9f976;
  border-radius: 10px;
}

form > input {
  font-family: var(--font-three);
  background-color: var(--fcb-white);
  width: 100%;
  height: auto;
  border: none;
  text-align: center;
}

#enlacesAyuda {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--small-spacing);
}

#iconosPago {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

#iconosPago img {
  width: 100%;
  height: 25px;
  filter: invert(50%);
}

#iconosRedes {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

#iconosRedes img {
  width: 100%;
  height: 40px;
  filter: invert(100%);
}

#iconosRedes img:hover {
  scale: 1.1;
  filter: brightness(0) saturate(100%) invert(86%) sepia(41%) saturate(1753%)
    hue-rotate(354deg) brightness(95%) contrast(98%);
}

footer p {
  width: 100%;
  height: auto;
  padding: var(--spacing);
  text-align: center;
}

/*MAQUETACIÓN TABLET Y MÓVIL*/

@media only screen and (max-width: 1000px) {
  .hidden {
    display: flex;
  }
  #sectionLinks {
    display: none;
  }
}

@media only screen and (max-width: 940px) {
  #novedades {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .video-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  #enlacesAyuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #iconosRedes {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
  }
  .logo {
    display: none;
  }
  .video-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  .botonesEquipos {
    display: flex;
    flex-direction: column;
  }
  #enlacesAyuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #iconosRedes {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
